
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    background: url('https://t3.ftcdn.net/jpg/01/41/14/76/360_F_141147632_revBO3mgrWS2Y6KqeyYT8J87XFFpqs7X.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.hero-title {
    font-size: 3em;
    margin: 0 0 20px;
}

.hero-subtitle {
    font-size: 1.5em;
    margin: 0 0 20px;
}

.hero-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
 
}

.hero-btn:hover {
    background: #0056b3;
}
